node_modules
dist-electron
release
dist
.env
.env.*
**/.DS_Store
**/.vscode
**/.idea
scripts/
**/scripts/
scripts/manual-notarize.js
invisible_launcher.vbs

# Local Configuration & Logs
config.json
config.js
ollama_output.txt

# Package Manager overrides (if mostly using npm)
bun.lockb
yarn.lock
pnpm-lock.yaml

# Debug & Misc Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*